#overall {
    position: absolute;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    text-align: center;
    width: 80%;
    top:50%; left:50%;
}

h1 {
    font-family: sans-serif;
    font-weight: normal;
    /* Fallback for browsers not supporting vmax */
    font-size: 6em;
    font-size: 6vmax;
}

.link-button {
    background-color: whitesmoke;
    border:1.5px solid orange;
    border-radius:5px;
    padding:10px 10px;
    font-family: sans-serif;
    /* Fallback for browsers not supporting vmax */
    font-size: 3em;
    font-size: 3vmax;
}

.inline {
    display: inline;
}