<!doctype html>
<html>
    <head>
        <title>When was he fed?</title>
        <link rel="icon" type="image/png" href={{ url_for('static', filename='favico.png') }}>
        <link rel="apple-touch-icon" sizes="180x180" href={{ url_for('static', filename='favico-180.png') }}/>
        <link rel="apple-touch-icon" sizes="120x120" href={{ url_for('static', filename='favico-120.png') }}/>
        <link rel="apple-touch-icon" sizes="167x167" href={{ url_for('static', filename='favico-167.png') }}/>
        <link rel="apple-touch-icon" sizes="152x152" href={{ url_for('static', filename='favico-152.png') }}/>
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='style.css') }}>
        <script type="text/javascript" src={{ url_for('static', filename='reload.js') }}></script>
        <script type="text/javascript">
            window.onload = update_feed_status();
        </script>
    </head>
    <body>
        <div id="floating_div">  
            <h1 id="feed_status"></h1>
            <h2 id="feed_time"></h2>
            <form method="post" action="/record_feed" id="hidden_form">
                <button type="submit" id="update_button">I fed him again.</button>
              </form>
        </div>
    </body>
</html>