<!doctype html>
<html>
    <head>
        <title>When was he fed?</title>
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='style.css') }}>
        <script type="text/javascript" src={{ url_for('static', filename='reload.js') }}></script>
        <script type="text/javascript">
            window.onload = update_feed_status();
        </script>
    </head>
    <body>
        <div id="overall">  
            <h1 id="feed_status"></h1>
            <a href="/record_feed">I fed him again</a>
        </div>
    </body>
</html>